<form class="new-user-form">
    <h2>Register Your Info</h2>

    <div class="form-group">
        <label>Email:</label>
        <input type="text" id="new_email" name="newUser">
    </div>
    <div class="form-group">
        <label>Username:</label>
        <input type="text" id="new_username" name="newUser">
    </div>
    <div class="form-group">
        <label>Password:</label>
        <input type="text" id="new_password" name="newUser">
    </div>
    <button class="button" type="submit" id="submit">Create</button>
</form>
{{!-- x button to close Modal --}}
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>