<h3>New Stat List</h3>
<h4>Define Your Stat Types</h4>
<div class="stat-div grid-y">

</div>
{{!-- button to submit form and post info to page --}}
<button class="submit-stat-list button" type="submit">Submit</button>