<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/foundation.css" type="text/css" />
		{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous"> --}}
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Ality!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/foundation/foundation.min.js"></script>
		{{!-- <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script> --}}
		<script src="/js/index.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
