<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/ality.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>Ality!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
		<script src="/js/index.js"></script>
	</head>
	<body>
		<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
  <!-- Your menu or Off-canvas content goes here -->
</div>
	<div class="off-canvas-content" data-off-canvas-content>
  <!-- Your page content lives here -->
  <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>
  {{{ body }}}
</div>	
	</body>
</html>
