<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../../public/css/foundation.css" type="text/css" />
		<link rel="stylesheet" href="../../public/css/style.css" type="text/css" />
		<title>Ality!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <script src="../../public/js/index.js"></script>
        
	</head>
	<body>
		<h1>{{user.username}}</h1>
		<div class="container">
		{{#each stat_lists}}
			<p>{{stat_lists.name}}</p>
			{{!-- When clicked, will take user to corresponding stat table page --}}
			<a href="/{{user.username}}/{{stat_lists.id}}" class="stat-table button" data-id="{{stat_lists.id}}">Enter Table</a>
		{{/each}}
		</div>
	</body>
</html>