<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="../../public/css/ality.css" type="text/css" />
		<link rel="stylesheet" href="../../public/css/style.css" type="text/css" />
		<title>Ality!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
		
        <script src="../../public/js/index.js"></script>
        
	</head>
	<body>
        {{{ body }}}
		TEST PAGE, MAKE SURE TO DELETE FILE!!!!
		<div class="reveal" id="exampleModal1" data-reveal>
			<h1>Awesome. I Have It.</h1>
			<p class="lead">Your couch. It is mine.</p>
			<p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<p><button class="button" data-open="exampleModal1">Click me for a modal</button></p>
	</body>

	<script>
		$(document).foundation();
	</script>
</html>