<div class="container">
    <h1>Stat List: {{name}}</h1>
    <div class="grid-x">
        {{#each alities}}
            <div class="cell small-6 medium-4">
                {{> alityTemplate name=this.name imgsrc=this.imgsrc stats=this.stats}}
                    ERROR: Card not found
                {{/alityTemplate}}
            </div>
        {{/each}}
    </div>
</div>