<div class="grid-container">
  <h1>Ality</h1>

  <h2>Stats with a purpose</h2>
  <p>Ality is a cool website that lets you create your own number-crunching spreadsheets.</p>
{{!-- USER LOGIN, directs to user page --}}
  <h2>Login</h2>
  <form class="login-form">
    <div class="form-group">
      <label>Username:</label>
      <input type="text" id="login_username" name="Username">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="password" id="login_password" name="Password">
    </div>
    <button class="button" type="submit">Sign In</button>

    <div id="bad-login" class="reveal alert" data-reveal="bad-login" data-closable>
      <h3>Bad Login!</h3>
      <p>Your username or password was incorrect. Please try again or <a data-open="newUserModal">register a new account</a></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close="bad-login">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </form>
{{!-- Create a new Ality account (MODAL with partial) --}}
  <p>Need an Ality Account? <a data-open="newUserModal" data-reveal-id="newUserModal">Sign up here!</a> </p>
  <div class="reveal" id="newUserModal" data-reveal>
    {{> newUser }}
  </div>
</div>