<div class="grid-container">
    <h1>Stat List: {{name}}</h1>
    <div class="reveal" id="makeAnAlityModal" data-reveal>
        {{> makeAnAlity statDefs=this.statDefs}}
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <p><button class="button" data-open="makeAnAlityModal">Add an Ality</button></p>

    <div class="grid-x grid-margin-x">
        {{#each alities}}
            <div class="cell small-6 medium-4">
                {{#> ality name=this.name imgsrc=this.imgsrc stats=this.stats}}
                    ERROR: Card not found
                {{/ality}}
            </div>
        {{/each}}
    </div>
</div>