

/* .callout {
  background: linear-gradient(to right, #00000000 30%, #BF3065), linear-gradient(to right, #00000000 30%, #BF8B0A), linear-gradient(to right, #00000000 30%, #1D4BBF), linear-gradient(to right, #00000000 30%, #13Bf20);
  background: lightblue;
  border-radius: 25px;
} */

/* .stat-table {
  border-radius: 25px;
  text-align: center;
  padding-top: 20px;
} */

/* .new-stat-list {
  border-radius: 20px;
} */

/* .stat {
  font-size: 1.25em;
} */

/* .stat-label {
  color: #cccccc;
} */

/* .progress {
  margin-top: -1em;
} */
/* 
.side-bar-btn {
  margin: 1em;
}

.side-bar-item {
  margin: 1em;
} */
